/*Image underlay at the header*/
#banner{
    width: 100%;
    /*position: relative;*/
    background-image: url(./assets/images/bg-header-desktop.png);
    background-size: cover;
    background-position: center;
}
#img1{
    margin-top: 60px;
}
#headi{
    text-align: center;
    width: 80%;
    margin: auto;
    /*margin-top: 60px;*/
}
#head_h{
    font-size: 3em;
}
#head_p{
    width: 60%;
    margin: auto;
}
.head_btn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#btn1,#btn2{
    /*width: 20%;*/
    padding: 9px 18px;
    border-radius: 25px;
    color: white;
    border: none;
}
#btn1{
    background-color: #25BBA4;
    margin: 3px;
}
#btn2{
    background-color: #6275FD;
    margin: 3px;
}

/*sect1_1*/
.sect1{
    margin-top: 80px;
}
#sectOne{
    margin: auto;
    text-align: center;
    width: 40%;
}
.sect2{
    text-align: center;
    margin: auto;
}
#sect_c{
    margin: auto;
    margin-top: 45px;
}
.img3{
    width: 75%;
}

@media(max-width: 575px){
    #sectTwo{
        display: block;
    }
    #sec_r, #sec_l{
        text-align: center;
        margin: auto;
    }
    #sec_l{
        width: 50%;
    }
    #sec_r{
        width: 50%;
    }
    .img2{
        width: 85%;
    }
    .head_btn{
        display: inline-grid;
    }
}
@media(min-width: 576px){
    #sectTwo{
        display: flex;
        margin-top: 60px;
    }
    #sec_l{
        width: 50%;
        position: relative;
        left: -55px;
    }
    #sec_r{
        width: 50%;
        /*margin-top: 50px;*/
    }
    .sec_rp{
        width: 80%;
    }
    .img2{
        width: 95%;
    }
}


/*Section two*/
.section-two{
    text-align: center;
}
.section-header h2{
    color: hsl(210, 10%, 33%);
}
.section-header p{
    color: hsl(201, 11%, 66%);
}
.tools{
    margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tool{
    padding: 20px;
}
.tool h3{
    color: hsl(210, 10%, 33%);
}
.tool p{
    color: hsl(201, 11%, 66%);
    text-align: center;
}
.partners{
    margin-top: 60px;
    margin-bottom: 90px;
}
.partners img{
    margin: 40px;
}
.clip-info{
    text-align: center;
}
.clip-info h1{
    color: hsl(210, 10%, 33%);
}
.clip-info p{
    color: hsl(201, 11%, 66%);
    padding: 0px 350px;
}
.section-btn{
    margin-top: 30px;
}
.btn-1{
    margin-right: 5px;
    padding: 10px 30px;
    color: #ffffff;
    background-color: hsl(171, 66%, 44%);
	border: none;
	border-radius: 25px;
}
.btn-2{
    margin-right: 5px;
    padding: 10px 30px;
    color: #ffffff;
    border: none;
	border-radius: 25px;
    background-color: hsl(233, 100%, 69%);
}
@media (max-width: 575px){
    .tools{
        display: block;
    }
    .clip-info{
        display: inline-block;
    }
    .clip-info p{
        padding: 0px 20px;
    }
    .section-btn{
        display: inline-grid;
    }
    .btn-2{
        margin-top: 7px;
    }
}